.home {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    /*margin-bottom: 20px;*/
    padding: 1vmax;
    /*display: inline-block;*/
    min-width: 15vmax;
    max-width: 35vmax;
    color: #1a0055;
    background-color: #d2eeff;
    border-radius: 1vmax;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headline2 {
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    padding: 1vmax;
    min-width: 25vmax;
    max-width: 50vmax;
    color: #1a0055;
    background-color: #d2eeff;
    border-radius: 1vmax;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.paragraph {
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: left;
    /*margin-bottom: 20px;*/
    padding: 1.5vmax;
    line-height: 2.5vmax;
    /*display: inline-block;*/
    min-width: 25vmax;
    max-width: 50vmax;
    color: #1a0055;
    background-color: #d2eeff;
    border-radius: 1vmax;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img1 {
    min-width: 1.5vmax;
    max-width: 3.3vmax;
    min-height: 2vmax;
    max-height: 3.3vmax;
}

.ibutton {
    cursor: pointer;
    min-width: 3vmax;
    max-width: 4vmax;
    min-height: 3vmax;
    max-height: 4vmax;
}

.ibutton:hover {
    transform: scale(1.1);
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* קופסה עם מידע */
.infoBox {
    background-color: rgb(6, 7, 78);
    color: rgb(224, 241, 238);
    font-size: 1.1em;
    font-family: sans-serif;
    text-align: left;
    line-height: 2.5vmax;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* כפתור לסגירה */
.closeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: darkblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.closeButton:hover {
    transform: scale(1.1);
}
